/* 전체 wrap class이름 */
.matching_select{
    margin: 20px auto;
    width: 60%;
    height: 700px;
    border:1px solid black;
}

/* 중간마다 큰 텍스트 div */
.service_text{
    text-align: center;
}

/* 첫번째패널 옵션 패널  시작*/
.option_panel{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: 30%;
}


.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 95%;
    border:1px solid black;
}

.service_img{
    width: 80%;
    height: 80%;
}

.matching_state{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 95%;
    border: 1px solid black;
}

.matching_state > div{
    width: 95%;
    height: 98%;
}

.weeklyState > div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 48%;
    line-height: 93.83px;
}
.weeklyState > div > label{
    text-align: center;
}
.weeklyState > div > label:nth-child(1){
    width: 60%;
}
.weeklyState > div > label:nth-child(2){
    width: 30%;
}
/* 첫번째패널 옵션 패널  끝*/

/* 파티 내역 클래스 시작*/
.select_party{
    display: flex;
    justify-content: space-around;
}

.party{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 250px;
    border: 1px solid black;
}
.info1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 95%;
}
.info1 > img{
    width: 64px; /* 이미지 크기로 픽셀 수정*/
    height: 64px; /* 이미지 크기로 픽셀 수정*/
}
.info2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 68%;
    height: 95%;
}
.info2 > div{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    width: 98%;
    height: 45%;
}

.info2_top > div{
    width: 45%;
    height: auto;
    border: 1px solid black;
}
.info2_bottom > div{
    width: 95%;
    border: 1px solid black;
}
.grade, .period, .price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 파티 내역 클래스 끝*/

/* 버튼 패널 클래스 시작*/
.button_panel{
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 20%;
}

.button_panel > div{
    width: 30%;
    height: 100%;
    text-align: center;
}
/* 버튼 패널 클래스 끝*/



/*모달창*/
.modal-wrap {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal-matchingInfo {
    width: 700px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(3, 3, 3, 0.37);
    text-align: center;
}

.modal-matchingInfo > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-matchingInfo > div > div div {
    border: 1px solid black;
}

.modal-title {
    font-size: 1.4em;
}

.info {
    display: flex;
    justify-content: center;
    height: 65px;
}

.info > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.code-info {
    width: 30%;
}

.service-info {
    width: 25%;
}

.period-info {
    width: 15%;
}

.price-info {
    width: 25%;
}

.party-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.party-entry > div {
    width: 95%;
}

.entry-index {
    display: flex;
}

.entry-index > div:nth-child(1), .entry-info > div:nth-child(1) {
    width: 55%;
}

.entry-index > div:nth-child(2), .entry-info > div:nth-child(2) {
    width: 45%;
}

.entry-index, .entry-list > div, .entry-info > div {
    height: 45px;
    line-height: 45px;
}

.entry-info {
    display: flex;
}

.entry-count {
    display: flex;
    justify-content: center;
    height: 65px;
    line-height: 65px;
}

.entry-count > div {
    display: flex;
    width: 47.5%;
}

.entry-count .data-info {
    width: 45%;
}

.entry-count .value-info {
    width: 55%;
}

.entry-btn {
    display: flex;
    justify-content: center;
    height: 65px;
}

.entry-btn > button {
    margin: 10px;
    width: 120px;
    height: 50px;
}

.data-info {
    font-size: 1.4em;
    font-weight: bold;
}

.value-info {
    font-size: 1.2em;
}
