*{margin:0; padding:0;}
li{list-style:none;}

.slide{
    margin: 0 auto;
    margin-top: 20px;
    position:relative;
    width: 790px;
    height: 150px;
    box-shadow: 0 4px 8px rgb(200, 200, 200);
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(245, 245, 245);
}

.slide_wrapper{
    position:relative;
    width:690px;
    margin:0 auto;
    height:150px;
    overflow:hidden;
}

.slides{
    display:flex;
    position:absolute;
    left:0;
    top:0;
    transition:left 0.5s ease-out;
}

.slides li:not(:last-child){
    justify-content:flex-start;
    margin-right:30px;
}

.controls{
    text-align:center;
}

.controls span{
    padding:5px 10px;
    margin: 0 -5px;
    z-index:2;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background: #333;
    border-radius: 50px;
    color: #fff;
}

.controls>.prev{
    right:calc(100% - 55px);
}

.controls>.next{
    left:calc(100% - 55px);
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 150px;
    cursor:pointer;
}

.items > label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

.items > label:hover{
    box-shadow: 0 2px 8px rgba(12, 12, 12, 0.8);
    cursor:pointer;
}

.items > label > img{
    width: 100px;
    height: 100px;
}

.serviceRadio{
    display: none;
}

.serviceRadio:checked + label{
    box-shadow: 0 4px 16px rgba(0, 228, 233,0.7);
}



.paragraph {
    margin-top: 50px;
    text-align: center;
}

.trainArea{
    margin-top: 30px;
    position: relative;
    height: 200px;
}

.train {
    position: absolute;
    top: 20px;
    margin-left: 30%;
    left: 100px;
    cursor: pointer;
    width: 177px;
    height: 160px;
    transition: left 5s cubic-bezier(.5, -1, .5, 2);
}

.colorCont {
    padding-bottom: 111;
    background-color:#121212;
    transition:all .5s ease-in-out;
}
/* BUTTON 시작 */
div.threeBtn{
    text-align: center;
}

.button{
    /*=====Undefult-settings====*/
    border:none;
    outline:none;
    /*=========================*/
    display:inline-block;
    margin:20px auto;
    margin-right: 50px;
    padding: 20px;
    border-radius:30px;
    width:200px;
    height:70px;
    font-size:22.5px;
    font-weight:700;
    font-family: Helvetica, sans-serif;
    cursor:pointer;
    background-color:white;
    color:#121212;
    transition:all .4s ease-in-out;
}

.button:not(:last-child){
    margin-right: 50px;
}

.button:nth-child(1):hover{
    background-color:rgb(236, 240, 241);
    color:rgb(26,188,156);
    transition:all .3s ease-in-out;
}

.button:nth-child(2):hover{
    background-color:rgb(236, 240, 241);
    color:rgb(0, 163, 210);
    transition:all .3s ease-in-out;
}

.button:nth-child(3):hover{
    background-color:rgb(236, 240, 241);
    color: rgb(255, 215, 0);
    transition:all .3s ease-in-out;
}
