
.detail-parents > .contents-box > .cash-list {
    margin: 10px;
    width: 100%;
    height: auto;
}

.contents-area {
    margin-left: 5%;
    margin-top: 20px;
    width: 1050px;
    height: auto;
}
/* hr선 */
.contents-area > hr{
    margin-top: 10px;
    width: 300px;
    margin-bottom: 10px;
}
.contents-area > h2{
    display:flex;
    justify-content: space-between;
}
.contents-area span{
    display: inline-block;
    width: 300px;
}
.contents-area a{
    margin: 10px;
    border: none;
    font-size: 0.8em;
    text-decoration: none;
}
/* 아래 파티영역 */
.contents-area > .cash-area {
    width: 960px;
    height: auto;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contents-area > .cash-area > .cash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 220px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}
/* innerbox 호버시 나오는 영역 */
.contents-area > .cash-area > .cash > .innerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
    color: white;
    text-align: center;
}

.contents-area > .cash-area > .cash > .innerbox > h1 {
    padding: 10px;
}

.contents-area > .cash-area > .cash > .innerbox > h2 {
    padding: 10px;
}

.contents-area > .cash-area > .cash > .innerbox > .user {
    display: flex;
    width: 180px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.contents-area > .cash-area > .cash > .innerbox > .user > h5 {
    margin-left: 20px;
    font-size: 15px;
    height: 20px;
    padding-top: 15px;
}

.innerbox input {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.contents-area > .cash-area > .cash > .innerbox:hover {
    opacity: 0.85;
}

/* inner박스 끝 */

/*현재 진행중인 파티*/
.cash-list > .contents-area > .cash-area > .cash:nth-child(4n + 1){
    background-color: #FCDA9B;
}

.cash-list > .contents-area > .cash-area > .cash:nth-child(4n + 2){
    background-color: #DDB9D5;
}

.cash-list > .contents-area > .cash-area > .cash:nth-child(4n + 3){
    background-color: #AAD2B8;
}

.cash-list > .contents-area > .cash-area > .cash:nth-child(4n + 0){
    background-color: #F7A983;
}

/* 신청중인 파티 */
.apply-party {
    width: 100%;
    height: auto;
}

.apply-party > .contents-area > .cash-area > .cash:nth-child(4n + 1){
    background-color: rgba(245, 209, 87, 0.6);
}

.apply-party > .contents-area > .cash-area > .cash:nth-child(4n + 2){
    background-color: rgba(151, 213, 224, 0.6);
}

.apply-party > .contents-area > .cash-area > .cash:nth-child(4n + 3){
    background-color: rgba(248, 202, 202, 0.6);
}

.apply-party > .contents-area > .cash-area > .cash:nth-child(4n + 0){
    background-color: rgba(141, 164, 208, 0.6);
}
/* 신청중인 파티 영역 끝  */

.past-party {
    width: 100%;
    height: 800px;
}

.past-party > .contents-area > .cash-area > .cash {
    background-color: rgb(195, 195, 195);
}